<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FAILURE!</title>
    <link rel="stylesheet" href="/assets/css/master.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <div class="half-doc left-doc error">
        <h1>WHOOPS!</h1>
      </div><!--
   --><div class="half-doc right-doc result">
        <div class="form-title">
        </div>
        <div class="form-container">
          <h1>REGISTER FAILED!</h1>
          <p>
            <a href="/">Go Back</a>
          </p>
        </div>
        <div class="half-foot">
          <ul class="link-list">
            <li class="link-list-item">
              <a href="/view/">
                VIEW
              </a>
            </li>
            <li class="link-list-item item-pay">
              PAY
            </li>
            <li class="link-list-item item-click">
              CLICK
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
  </body>
</html>
